.light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  
  .dark-mode {
    background-color: #000000;
    color: #ffffff;
  }
  
  .toggle-btn {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  
  #smooth-wrapper {
    height: 100%;
    overflow: hidden;
  }
  
  #smooth-content {
    will-change: transform;
  }
  